<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Creative - Bootstrap 3 Responsive Admin Template">
    <meta name="author" content="GeeksLabs">
    <meta name="keyword" content="Creative, Dashboard, Admin, Template, Theme, Bootstrap, Responsive, Retina, Minimal">
    <link rel="shortcut icon" href="img/favicon.png">

    <title>Creative - Bootstrap Admin Template</title>

    <!-- Bootstrap CSS -->
    <link href="~/Asset_Admin/css/bootstrap.min.css" rel="stylesheet">
    <!-- bootstrap theme -->
    <link href="~/Asset_Admin/css/bootstrap-theme.css" rel="stylesheet">
    <!--external css-->
    <!-- font icon -->
    <link href="~/Asset_Admin/css/elegant-icons-style.css" rel="stylesheet" />
    <link href="~/Asset_Admin/css/font-awesome.min.css" rel="stylesheet" />
    <!-- full calendar css-->
    <link href="~/Asset_Admin/assets/fullcalendar/fullcalendar/bootstrap-fullcalendar.css" rel="stylesheet" />
    <link href="~/Asset_Admin/assets/fullcalendar/fullcalendar/fullcalendar.css" rel="stylesheet" />
    <!-- easy pie chart-->
    <link href="~/Asset_Admin/assets/jquery-easy-pie-chart/jquery.easy-pie-chart.css" rel="stylesheet" type="text/css" media="screen" />
    <!-- owl carousel -->
    <link rel="stylesheet" href="~/Asset_Admin/css/owl.carousel.css" type="text/css">
    <link href="~/Asset_Admin/css/jquery-jvectormap-1.2.2.css" rel="stylesheet">
    <!-- Custom styles -->
    <link rel="stylesheet" href="~/Asset_Admin/css/fullcalendar.css">
    <link href="~/Asset_Admin/css/widgets.css" rel="stylesheet">
    <link href="~/Asset_Admin/css/style.css" rel="stylesheet">
    <link href="~/Asset_Admin/css/style-responsive.css" rel="stylesheet" />
    <link href="~/Asset_Admin/css/xcharts.min.css" rel=" stylesheet">
    <link href="~/Asset_Admin/css/jquery-ui-1.10.4.min.css" rel="stylesheet">
    <!-- =======================================================
      Theme Name: NiceAdmin
      Theme URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
      Author: BootstrapMade
      Author URL: https://bootstrapmade.com
    ======================================================= -->
</head>

<body>
    <!-- container section start -->
    <section id="container" class="">


        <header class="header dark-bg">
            <div class="toggle-nav">
                <div class="icon-reorder tooltips" data-original-title="Toggle Navigation" data-placement="bottom"><i class="icon_menu"></i></div>
            </div>

            <!--logo start-->
            <a href="index.html" class="logo">Trang <span class="lite">Quản Lý</span></a>
            <!--logo end-->

            <div class="nav search-row" id="top_menu">
                <!--  search form start -->
                <ul class="nav top-menu">
                    <li>
                        <form class="navbar-form">
                            <input class="form-control" placeholder="Search" type="text">
                        </form>
                    </li>
                </ul>
                <!--  search form end -->
            </div>

            <div class="top-nav notification-row">
                <!-- notificatoin dropdown start-->
                <ul class="nav pull-right top-menu">

                    <!-- task notificatoin start -->
                    <!-- inbox notificatoin end -->
                    <!-- alert notification start-->




                </ul>
                </li>
                <!-- alert notification end-->
                <!-- user login dropdown start-->
                <li class="dropdown">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="profile-ava">
                            <img alt="" src="~/Asset_Admin/img/avatar1_small.jpg">
                        </span>
                        <span class="username">Admin</span>
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu extended logout">
                        <div class="log-arrow-up"></div>
                        <li class="eborder-top">
                            <a href="#"><i class="icon_profile"></i> My Profile</a>
                        </li>
                        <li>
                            <a href="#"><i class="icon_mail_alt"></i> My Inbox</a>
                        </li>
                        <li>
                            <a href="#"><i class="icon_clock_alt"></i> Timeline</a>
                        </li>
                        <li>
                            <a href="#"><i class="icon_chat_alt"></i> Chats</a>
                        </li>
                        <li>
                            <a href="~/TrangChu/TrangChu2"><i class="icon_key_alt"></i> Log Out</a>
                        </li>
                        <li>
                            <a href="documentation.html"><i class="icon_key_alt"></i> Documentation</a>
                        </li>
                        <li>
                            <a href="documentation.html"><i class="icon_key_alt"></i> Documentation</a>
                        </li>
                    </ul>
                </li>
                <!-- user login dropdown end -->
                </ul>
                <!-- notificatoin dropdown end-->
            </div>
        </header>
        <!--header end-->
        @RenderPage("_Navigation.cshtml")
        <!--main content start-->

        <div class="text-right">
            <div class="credits">
                <!--
              All the links in the footer should remain intact.
              You can delete the links only if you purchased the pro version.
              Licensing information: https://bootstrapmade.com/license/
              Purchase the pro version form: https://bootstrapmade.com/buy/?theme=NiceAdmin
            -->
                Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
            </div>
        </div>

        <!--main content start-->
        @RenderBody()
        <!--main content end-->
    </section>
    <!-- container section start -->
    <!-- javascripts -->
    <script src="~/Asset_Admin/js/jquery.js"></script>
    <script src="~/Asset_Admin/js/jquery-ui-1.10.4.min.js"></script>
    <script src="~/Asset_Admin/js/jquery-1.8.3.min.js"></script>
    <script type="~/Asset_Admin/text/javascript" src="js/jquery-ui-1.9.2.custom.min.js"></script>
    <!-- bootstrap -->
    <script src="~/Asset_Admin/js/bootstrap.min.js"></script>
    <!-- nice scroll -->
    <script src="~/Asset_Admin/js/jquery.scrollTo.min.js"></script>
    <script src="~/Asset_Admin/js/jquery.nicescroll.js" type="text/javascript"></script>
    <!-- charts scripts -->
    <script src="~/Asset_Admin/assets/jquery-knob/js/jquery.knob.js"></script>
    <script src="~/Asset_Admin/js/jquery.sparkline.js" type="text/javascript"></script>
    <script src="~/Asset_Admin/assets/jquery-easy-pie-chart/jquery.easy-pie-chart.js"></script>
    <script src="~/Asset_Admin/js/owl.carousel.js"></script>
    <!-- jQuery full calendar -->
    <
    <script src="~/Asset_Admin/js/fullcalendar.min.js"></script>
    <!-- Full Google Calendar - Calendar -->
    <script src="~/Asset_Admin/assets/fullcalendar/fullcalendar/fullcalendar.js"></script>
    <!--script for this page only-->
    <script src="~/Asset_Admin/js/calendar-custom.js"></script>
    <script src="~/Asset_Admin/js/jquery.rateit.min.js"></script>
    <!-- custom select -->
    <script src="~/Asset_Admin/js/jquery.customSelect.min.js"></script>
    <script src="~/Asset_Admin/assets/chart-master/Chart.js"></script>

    <!--custome script for all page-->
    <script src="~/Asset_Admin/js/scripts.js"></script>
    <!-- custom script for this page-->
    <script src="~/Asset_Admin/js/sparkline-chart.js"></script>
    <script src="~/Asset_Admin/js/easy-pie-chart.js"></script>
    <script src="~/Asset_Admin/js/jquery-jvectormap-1.2.2.min.js"></script>
    <script src="~/Asset_Admin/js/jquery-jvectormap-world-mill-en.js"></script>
    <script src="~/Asset_Admin/js/xcharts.min.js"></script>
    <script src="~/Asset_Admin/js/jquery.autosize.min.js"></script>
    <script src="~/Asset_Admin/js/jquery.placeholder.min.js"></script>
    <script src="~/Asset_Admin/js/gdp-data.js"></script>
    <script src="~/Asset_Admin/js/morris.min.js"></script>
    <script src="~/Asset_Admin/js/sparklines.js"></script>
    <script src="~/Asset_Admin/js/charts.js"></script>
    <script src="~/Asset_Admin/js/jquery.slimscroll.min.js"></script>
    <script>
      //knob
      $(function() {
        $(".knob").knob({
          'draw': function() {
            $(this.i).val(this.cv + '%')
          }
        })
      });

      //carousel
      $(document).ready(function() {
        $("#owl-slider").owlCarousel({
          navigation: true,
          slideSpeed: 300,
          paginationSpeed: 400,
          singleItem: true

        });
      });

      //custom select box

      $(function() {
        $('select.styled').customSelect();
      });

      /* ---------- Map ---------- */
      $(function() {
        $('#map').vectorMap({
          map: 'world_mill_en',
          series: {
            regions: [{
              values: gdpData,
              scale: ['#000', '#000'],
              normalizeFunction: 'polynomial'
            }]
          },
          backgroundColor: '#eef3f7',
          onLabelShow: function(e, el, code) {
            el.html(el.html() + ' (GDP - ' + gdpData[code] + ')');
          }
        });
      });
    </script>

</body>

</html>
