<!--sidebar start-->
<aside>
    <div id="sidebar" class="nav-collapse ">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu">
            <li class="active">
                <a class="" href="/Admin/Home/Index">
                    <i class="icon_house_alt"></i>
                    <span>Trang chủ</span>
                </a>
            </li>
            <li class="sub-menu">
                <a href="~/Admin/TaiKhoans/Index" class="">
                    <i class="icon_document_alt"></i>
                    <span>Quản lý tài khoản</span>
                    @*<span class="menu-arrow arrow_carrot-right"></span>*@
                </a>
                @*<ul class="sub">
                    <li><a class="" href="~/Admin/TaiKhoans/Index">Danh sách tài khoản</a></li>
                    <li><a class="" href="~/Admin/TaiKhoans/Create">Thêm tài khoản</a></li>
                </ul>*@
            </li>
            <li class="sub-menu">
                <a href="~/Admin/SanPhams/Index" class="">
                    <i class="icon_desktop"></i>
                    <span>Quản lý sản phẩm</span>
                    @*<span class="menu-arrow arrow_carrot-right"></span>*@
                </a>
                @*<ul class="sub">
                    <li><a class="" href="~/Admin/SanPhams/Index">Danh sách sản phẩm</a></li>
                    <li><a class="" href="~/Admin/SanPhams/Create">Thêm sản phẩm</a></li>
                </ul>*@
            </li>
            <li>
                <a class="" href="~/Admin/NhaXuatBans/Index">
                    <i class="icon_genius"></i>
                    <span>Quản lý nhà xuất bản</span>
                </a>
            </li>
            <li>
                <a class="" href="~/Admin/NhaCungCaps/Index">
                    <i class="icon_piechart"></i>
                    <span>Quản lý nhà cung cấp</span>

                </a>

            </li>

            <li class="sub-menu">
                <a href="~/Admin/CTKhuyenMais/Index" class="">
                    <i class="icon_table"></i>
                    <span>Quản lý chương trình khuyến mãi</span>
                    @*<span class="menu-arrow arrow_carrot-right"></span>*@
                </a>
                @*<ul class="sub">
                    <li><a class="" href="basic_table.html">Basic Table</a></li>
                </ul>*@
            </li>

            <li class="sub-menu">
                <a href="/Admin/DanhMucSanPhams/Index" class="">
                    <i class="icon_documents_alt"></i>
                    <span>Quản lý danh mục sản phẩm</span>
                    @*<span class="menu-arrow arrow_carrot-right"></span>*@
                </a>
                @*<ul class="sub">
                    <li><a class="" href="profile.html">Profile</a></li>
                    <li><a class="" href="login.html"><span>Login Page</span></a></li>
                    <li><a class="" href="contact.html"><span>Contact Page</span></a></li>
                    <li><a class="" href="blank.html">Blank Page</a></li>
                    <li><a class="" href="404.html">404 Error</a></li>
                </ul>*@
            </li>

        </ul>
        <!-- sidebar menu end-->
    </div>
</aside>
<!--sidebar end-->