<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Trang thư viện 171102IT</title>
    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="css/one-page-wonder.min.css" rel="stylesheet">
</head>
<body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
        <div class="container">
            <a class="navbar-brand" href="#">Xin Chào</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="~/User/Create">Đăng ký</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="~/Admin1/Login">Đăng nhập</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <header class="masthead text-center text-white">
        <div class="masthead-content">
            <div class="container">
                <h1 class="masthead-heading mb-0">Trang Sách 171102IT</h1>
                <h2 class="masthead-subheading mb-0">Nơi trôi dào kiến cơ bản</h2>
                <a href="#" class="btn btn-primary btn-xl rounded-pill mt-5">Tìm hiểu thêm</a>
            </div>
        </div>
        <div class="bg-circle-1 bg-circle"></div>
        <div class="bg-circle-2 bg-circle"></div>
        <div class="bg-circle-3 bg-circle"></div>
        <div class="bg-circle-4 bg-circle"></div>
    </header>
    <section>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 order-lg-2">
                    <div class="p-5">
                        <img class="img-fluid rounded-circle" src="img/Tiengviet1.jpg" alt="">
                    </div>
                </div>
                <div class="col-lg-6 order-lg-1">
                    <div class="p-5">
                        <h2 class="display-4">Dành cho các học sinh tiểu học về ngữ văn...</h2>
                        <p>Ngữ văn là một trong những môn học chính của tất cả các cấp học và một môn học hay, có ý nghĩa nhân văn cao nên đây không phải là môn học dễ dàng. Trên chặng đường chinh phục những kiến thức văn học, ta phải đi từ cơ bản đến nâng cao, đó là lí do quyển sách giáo khoa ngữ văn không thể thiếu trong quá trình này đặc biệt là đối với những bạn yêu thích bộ môn văn và có ước mơ theo đuổi đến cùng. Là một phần của bộ sách giáo khoa thiết yếu, sách ngữ văn bao gồm các bài học liên kết với nhau như những mắt xích quan trọng để từ đó đi từ đơn giản đến phức tạp tất cả các kiến thức cần có.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="p-5">
                        <img class="img-fluid rounded-circle" src="img/Toan1.jpg" alt="">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="p-5">
                        <h2 class="display-4">Dành cho các bé muốn tìm hiểu toán!</h2>
                        <p>Trong cuộc đời học sinh chắc hẳn các bạn đều biết hoặc đọc qua một vài quyển sách bổ ích và đã học qua chúng . Hôm nay, tôi xin giới thiệu với các bạn quyển sách giáo khoa Toán 8 mà tôi đã được học ở trường. Đây là một quyển sách chứa đựng thật nhiều kiến thức vế các phần như: đại số , hình học và rất nhiều bài tập bổ ích Tôi sẽ trình bày đôi nét vế quyển sách này để các bạn biết rõ hơn vế nó.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 order-lg-2">
                    <div class="p-5">
                        <img class="img-fluid rounded-circle" src="img/DaoDuc1.jpg" alt="">
                    </div>
                </div>
                <div class="col-lg-6 order-lg-1">
                    <div class="p-5">
                        <h2 class="display-4">Dành cho các bé rèn luyện đạo đức!</h2>
                        <p>Nội dung của cuốn sách giúp bạn có cái nhìn khác hơn về khái niệm giáo dục con người. Nó không còn là nghệ thuật thu phục lòng người và làm cho tất cả mọi người xung quanh yêu mến mình. Mà sách ở đây sẽ có ý nghĩa đó cần được thụ đắc bằng sự hiểu rõ bản thân, thành thật với chính mình.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Footer -->
    <footer class="py-5 bg-black">
        <div class="container">
            <p class="m-0 text-center text-white small">Copyright &copy; Your Website 2019</p>
        </div>
        <!-- /.container -->
    </footer>
    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>
